/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900

.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
